img {
  max-width: 50%;
  height: max;
  padding: 2em;
  text-align: center;
  border:10px solid #84dcc6
}

body {
  font-family: Impact, fantasy;
  background-color: #ffffff;
  color: #4b436d;
  text-align: center;
}

p {
  font-size: 250%;
  padding: 1em;
}

h1 {
  text-align: center;
  font-size: 700%;
  color: #4b436d;
}

h2 {
  font-size: 400%;
  text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
